<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <startup version="v4.0" sku=".NetFramework,Version=v4.0"></startup>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="WSHttpBinding_ISPFileUpload" receiveTimeout="00:30:00"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="2147483647">
            <security mode="Transport">
              <transport clientCredentialType="None" />
              <message clientCredentialType="Windows" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://srvpbashare.mdaote.bepensa.local:447/SPFileUpload.svc"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISPFileUpload"
            contract="SPFileUploadService.ISPFileUpload" name="WSHttpBinding_ISPFileUpload" />
      </client>
    </system.serviceModel>
</configuration>