<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="CRMDomain" value="mdaote" />
    <add key="CRMDiscovery" value="https://appsfb.bepensa.com:5000/Financiera/XRMServices/2011/Organization.svc" />
    <add key="CRMUser" value="admin_finbe" />
    <add key="CRMOrganization" value="Financiera" />
    <add key="CRMPassword" value="@f1NB32015." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SharePointURL" value="https://docscrmfb.bepensa.com" />
    <add key="TituloPoliza" value="Póliza de seguro" />

  </appSettings>
    <applicationSettings>
        <Test.Properties.Settings>
            <setting name="Test_wsInterfazServiceDNS_wsDatosGenerales" serializeAs="String">
                <value>http://finbeprepbas.finbe.com.mx:444/wsInterfazWBC/wsInterfaz.asmx</value>
            </setting>
        </Test.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISPFileUpload" receiveTimeout="00:30:00"
               sendTimeout="00:30:00"
               maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://srvpbashare.mdaote.bepensa.local:447/SPFileUpload.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISPFileUpload"
          contract="SPFileUploadService.ISPFileUpload" name="WSHttpBinding_ISPFileUpload" />
    </client>
  </system.serviceModel>
</configuration>
